.header-trailer {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  z-index: 10000000 !important;
  width: 100vw;
  background-color: black;

  .top-bar {
    padding: 0 10% 10px;
    display: block;
    width: 100vw;
    position: absolute;
    background-color: black;

    @media (max-width: 780px) and (pointer: coarse) {
      // bottom: 5%;
    }

    h2 {
      margin: 1rem 0;
      margin-bottom: -5px;
      @media (max-width: 427px) {
        font-size: 14pt;
      }
      @media (max-width: 340px) {
        font-size: 12pt;
      }
    }

    .close-button {
      background-color: transparent;
      border: none;
      font-size: 27pt;
      cursor: pointer;
    }

    .media-icon {
      img {
        margin-right: 20px;
        width: 30px !important;
        height: 30px !important;

        @media (max-width: 426px) {
          width: 25px !important;
          height: 25px !important;
        }
      }
    }
  }
}
