@use "../../scss/variables.scss" as *;
// Phone Menu
.phone-menu {
  background-color: $primaryColor;
  padding: 9px;
  animation: roll-down 400ms;
  position: relative;
  font-weight: 600;

  span {
    margin-left: 10px;
  }

  ul {
    $borderRadius: 5px;
    position: absolute;
    background-color: $primaryColor;
    top: 100%;
    left: 0;
    width: 150%;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;

    li {
      z-index: 10000000 !important;
      padding: 5px 10px;
      opacity: 0.7;
      &:hover,
      &:focus,
      &.active {
        opacity: 1;
      }
    }
  }
}
