@use "../../scss/variables" as *;

$netflixLogoHeight: 40px;
$netflixLogoWidth: 80px;

#black-background {
  background: black !important;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
}

.navbar {
  z-index: 10 !important;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.02)
  );
  font-size: 10pt;
  padding: 10px 5%;

  .left-side {
    align-items: center;

    .netflix-logo {
      width: $netflixLogoWidth;
      height: $netflixLogoHeight;
      object-fit: contain;
      margin-top: 5px;
    }

    .navlinks {
      margin-left: 20px;

      @media (max-width: 768px) {
        display: none;
      }

      * {
        margin-left: 10px;
      }
    }
  }

  .right-side {
    $height: 30px;
    $inputBorder: white solid 1px;
    $searchSize: 20px;
    justify-content: stretch;
    form {
      margin: 10px;
      justify-content: flex-end;
    }

    .search-icon {
      width: $searchSize;
      height: $searchSize;
    }

    .search-input {
      height: $height;
      border: none;
      outline: none;
      width: 0;
      margin-left: 10px;
      border-bottom: $inputBorder;
      &:focus {
        width: 100%;
        margin-left: 15px;
      }
    }

    img {
      height: $height;
      width: $height;
    }
  }
}
