.searched-movies-contents {
  padding: 7rem 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  .movie-container {
    margin: 10px !important;
    position: relative;
  }
}
