.media-icons {
  margin-top: 10px;
  display: flex;
  a {
    padding: 5px;
    cursor: alias;
  }
  img {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    transition: all 500ms 200ms;
    &:hover {
      transform: scale(1.3);
      filter: brightness(120%);
    }
  }
}
