.movie {
  position: relative;

  .movie-text {
    text-align: center;
    cursor: pointer;
    opacity: 0;
  }

  .movie-cover,
  .movie-text {
    transition: all 500ms 300ms !important;
  }

  &:hover,
  &.active-movie {
    .movie-cover {
      filter: brightness(40%);
      transform: scale(1.3);
    }

    .movie-text {
      opacity: 1;
    }
  }
}
