.movie-content {
  transition: all 500ms !important;
  position: relative;

  .movie-text {
    display: none;
  }

  &:hover,
  &.active-movie {
    .movie-cover {
      filter: brightness(40%);
      transform: scale(1.1);
    }

    .movie-text {
      display: flex !important;
      text-align: center;
      flex-direction: column;
      opacity: 1;

      .media-icon {
        a {
          padding: 5px;
          cursor: alias;
          z-index: 10000;
          &:hover {
            transform: scale(1.2);
            filter: brightness(120%);
            transition: transform 450ms;
          }
        }
      }
    }
  }
}
