.homepage,
.app {
  overflow: hidden;
}

.homepage .searched-movies-contents,
.app .searched-movies-contents {
  padding: 7rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage .searched-movies-contents .movie,
.app .searched-movies-contents .movie {
  -webkit-transition: all 450ms !important;
  transition: all 450ms !important;
  margin: 10px;
  position: relative;
}

.homepage .searched-movies-contents .movie .movie-text,
.app .searched-movies-contents .movie .movie-text {
  display: none;
}

.homepage .searched-movies-contents .movie:hover,
.app .searched-movies-contents .movie:hover {
  cursor: pointer;
  z-index: 100;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.homepage .searched-movies-contents .movie:hover img,
.app .searched-movies-contents .movie:hover img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.homepage .searched-movies-contents .movie:hover .movie-text,
.app .searched-movies-contents .movie:hover .movie-text {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.homepage .searched-movies-contents .movie:hover .movie-text h4,
.app .searched-movies-contents .movie:hover .movie-text h4 {
  font-size: 10pt;
  text-align: center;
}

.homepage .searched-movies-contents .movie:hover .movie-text img,
.app .searched-movies-contents .movie:hover .movie-text img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.homepage header,
.app header {
  width: 100%;
  height: 100vh;
  margin-bottom: -150px;
  background: white;
}

@media (max-width: 500px) {
  .homepage header,
  .app header {
    margin-bottom: -110px;
  }
}

.homepage header .header-content,
.app header .header-content {
  overflow: hidden;
}

.homepage header .header-content .header-movie-info,
.app header .header-content .header-movie-info {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50%;
  left: 10%;
}

.homepage header .header-content .header-movie-info h1,
.homepage header .header-content .header-movie-info p,
.app header .header-content .header-movie-info h1,
.app header .header-content .header-movie-info p {
  margin-bottom: 20px;
}

.homepage header .header-content .header-movie-info .row,
.app header .header-content .header-movie-info .row {
  margin-top: 80px;
}

.homepage header .header-content .header-movie-info .row .play,
.app header .header-content .header-movie-info .row .play {
  margin-right: 20px;
  padding: 22.7px;
  -webkit-transform: translateY(-3.2px);
          transform: translateY(-3.2px);
}

.homepage header .header-content .header-movie-info .row a,
.app header .header-content .header-movie-info .row a {
  margin-right: 20px;
  width: 80px;
}

@media only screen and (max-width: 768px) {
  .homepage header .header-content .header-movie-info,
  .app header .header-content .header-movie-info {
    width: 80% !important;
  }
  .homepage header .header-content .header-movie-info .row,
  .app header .header-content .header-movie-info .row {
    margin-top: 40px;
  }
}

.homepage header .header-content img,
.app header .header-content img {
  z-index: -1;
  height: 100vh;
  width: 100%;
}

.homepage header .fade-bottom,
.app header .fade-bottom {
  color: white;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#111));
  background: linear-gradient(to bottom, transparent, #111);
}

.homepage #black-background,
.app #black-background {
  background: black !important;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
}

.homepage .navbar,
.app .navbar {
  z-index: 1000 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.02)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.02));
  font-size: 10pt;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 40px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 500ms;
  transition: background 500ms;
}

.homepage .navbar .left-side,
.app .navbar .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .navbar .left-side .left-side-nav,
.app .navbar .left-side .left-side-nav {
  margin-top: 14px;
}

.homepage .navbar a,
.app .navbar a {
  margin-right: 10px;
  color: white;
}

.homepage .navbar img,
.app .navbar img {
  width: 80px;
  height: 40px;
  margin-right: 30px;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

@media (max-width: 768px) {
  .homepage .navbar .left-side-nav,
  .app .navbar .left-side-nav {
    display: none;
  }
  .homepage .navbar .right-side input,
  .app .navbar .right-side input {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    margin-right: -10px !important;
  }
  .homepage .navbar .right-side img,
  .app .navbar .right-side img {
    margin-top: 5px;
  }
}

.homepage .navbar .right-side input,
.app .navbar .right-side input {
  margin: 10px;
  margin-bottom: -20px;
  padding: 5px 0;
}

.homepage .navbar .right-side img,
.app .navbar .right-side img {
  height: 30px;
  width: 30px;
  margin-bottom: -5px;
}

.homepage .movielist-section,
.app .movielist-section {
  padding-left: 40px;
  margin-bottom: 30px;
  position: relative;
}

.homepage .movielist-section h1,
.app .movielist-section h1 {
  color: white;
  font-size: 19pt;
  margin-bottom: 10px;
}

.homepage .movielist-section .showTrailer,
.app .movielist-section .showTrailer {
  margin-left: -40px;
}

@media not all and (pointer: coarse) {
  .homepage .movielist-section .Netflix,
  .app .movielist-section .Netflix {
    margin-bottom: calc(500px - 100vw) !important;
    padding: 0;
    margin-right: 0px !important;
    width: 470px;
  }
  .homepage .movielist-section .Netflix .movie-container:hover,
  .homepage .movielist-section .Netflix .active-movie,
  .app .movielist-section .Netflix .movie-container:hover,
  .app .movielist-section .Netflix .active-movie {
    max-width: 210px !important;
  }
  .homepage .movielist-section .Netflix .movie-container,
  .app .movielist-section .Netflix .movie-container {
    margin: -200px 40px;
    margin-bottom: 0 !important;
    margin-left: -30px;
    width: 220px;
  }
  .homepage .movielist-section .Netflix .movie-container:nth-child(20),
  .app .movielist-section .Netflix .movie-container:nth-child(20) {
    margin-bottom: -150px !important;
  }
  .homepage .movielist-section .Netflix .movie-container:nth-child(1),
  .app .movielist-section .Netflix .movie-container:nth-child(1) {
    margin-top: 0;
  }
  .homepage .movielist-section .Netflix .movie-container .movie-content,
  .app .movielist-section .Netflix .movie-container .movie-content {
    width: 0 !important;
  }
  .homepage .movielist-section .Netflix .movie-container .movie-content img,
  .app .movielist-section .Netflix .movie-container .movie-content img {
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }
  .homepage .movielist-section .Netflix .movie-container .movie-text,
  .app .movielist-section .Netflix .movie-container .movie-text {
    display: none;
  }
  .homepage .movielist-section .movielist,
  .app .movielist-section .movielist {
    height: 100vw;
    margin-bottom: calc(300px - 100vw);
    display: inline-block;
    overflow-y: auto;
    padding: 10px 40px;
    -webkit-transform: rotate(-90deg) translateX(-100%);
            transform: rotate(-90deg) translateX(-100%);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  .homepage .movielist-section .movielist::-webkit-scrollbar,
  .app .movielist-section .movielist::-webkit-scrollbar {
    width: 4px;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(transparent), color-stop(transparent), color-stop(black), color-stop(transparent), color-stop(transparent), to(transparent));
    background: linear-gradient(to right, transparent, transparent, transparent, black, transparent, transparent, transparent);
  }
  .homepage .movielist-section .movielist::-webkit-scrollbar-thumb,
  .app .movielist-section .movielist::-webkit-scrollbar-thumb {
    background: #474747;
    border-radius: 10px;
  }
  .homepage .movielist-section .movielist .movie-container,
  .app .movielist-section .movielist .movie-container {
    -webkit-transform: rotate(90deg) translateY(-100%);
            transform: rotate(90deg) translateY(-100%);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    padding: 5px;
    position: relative;
    margin-bottom: -60px;
    margin-right: 50px;
    cursor: pointer;
  }
  .homepage .movielist-section .movielist .movie-container:nth-child(20),
  .app .movielist-section .movielist .movie-container:nth-child(20) {
    margin-bottom: 0px;
  }
  .homepage .movielist-section .movielist .movie-container .contain-scale-image img,
  .app .movielist-section .movielist .movie-container .contain-scale-image img {
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-transition: -webkit-transform 450ms !important;
    transition: -webkit-transform 450ms !important;
    transition: transform 450ms !important;
    transition: transform 450ms, -webkit-transform 450ms !important;
  }
}

@media (pointer: coarse) {
  .homepage .movielist-section,
  .app .movielist-section {
    margin-left: -30px;
  }
  .homepage .movielist-section .Netflix,
  .app .movielist-section .Netflix {
    padding-bottom: 20px;
    margin-bottom: 20px;
    overflow-y: hidden;
  }
  .homepage .movielist-section .showTrailer,
  .app .movielist-section .showTrailer {
    margin-left: -10px;
  }
  .homepage .movielist-section .movielist,
  .app .movielist-section .movielist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
  }
  .homepage .movielist-section .movielist .movie-container,
  .app .movielist-section .movielist .movie-container {
    margin-left: 35px;
    padding: 5px;
    position: relative;
    cursor: pointer;
  }
}

.homepage .movielist-section .movie-content .movie-text,
.app .movielist-section .movie-content .movie-text {
  display: none;
}

.homepage .movielist-section .movie-content .movie-text .row,
.app .movielist-section .movie-content .movie-text .row {
  margin-top: 50px !important;
}

.homepage .movielist-section .movie-container:hover,
.homepage .movielist-section .active-movie,
.app .movielist-section .movie-container:hover,
.app .movielist-section .active-movie {
  outline: none;
  z-index: 4;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.homepage .movielist-section .movie-container:hover .movie-content,
.homepage .movielist-section .active-movie .movie-content,
.app .movielist-section .movie-container:hover .movie-content,
.app .movielist-section .active-movie .movie-content {
  z-index: -1;
}

.homepage .movielist-section .movie-container:hover .movie-content img,
.homepage .movielist-section .active-movie .movie-content img,
.app .movielist-section .movie-container:hover .movie-content img,
.app .movielist-section .active-movie .movie-content img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.homepage .movielist-section .movie-container:hover .movie-content .movie-text,
.homepage .movielist-section .active-movie .movie-content .movie-text,
.app .movielist-section .movie-container:hover .movie-content .movie-text,
.app .movielist-section .active-movie .movie-content .movie-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.homepage .movielist-section .movie-container:hover .movie-content .movie-text .media-icon a,
.homepage .movielist-section .active-movie .movie-content .movie-text .media-icon a,
.app .movielist-section .movie-container:hover .movie-content .movie-text .media-icon a,
.app .movielist-section .active-movie .movie-content .movie-text .media-icon a {
  padding: 5px;
  cursor: alias;
  z-index: 10000;
  -webkit-filter: brightness(250%);
          filter: brightness(250%);
}

.homepage .movielist-section .movie-container:hover .movie-content .movie-text .media-icon a:hover,
.homepage .movielist-section .active-movie .movie-content .movie-text .media-icon a:hover,
.app .movielist-section .movie-container:hover .movie-content .movie-text .media-icon a:hover,
.app .movielist-section .active-movie .movie-content .movie-text .media-icon a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: brightness(300%);
          filter: brightness(300%);
  -webkit-transition: -webkit-transform 450ms;
  transition: -webkit-transform 450ms;
  transition: transform 450ms;
  transition: transform 450ms, -webkit-transform 450ms;
}

.button {
  border: none;
  padding: 20px;
  min-width: 80px;
  color: white;
  cursor: pointer;
  background: #111;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-trailer {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.header-trailer .top-bar {
  padding: 0 10% 10px;
  display: block;
  width: 100vw;
  position: absolute;
  background-color: black;
}

.header-trailer .top-bar h2 {
  margin: 1rem 0;
  margin-bottom: -5px;
}

@media (max-width: 427px) {
  .header-trailer .top-bar h2 {
    font-size: 14pt;
  }
}

@media (max-width: 340px) {
  .header-trailer .top-bar h2 {
    font-size: 12pt;
  }
}

.header-trailer .top-bar .close-button {
  background-color: transparent;
  border: none;
  font-size: 27pt;
  cursor: pointer;
}

.header-trailer .top-bar .media-icon img {
  margin-right: 20px;
  width: 30px !important;
  height: 30px !important;
}

@media (max-width: 426px) {
  .header-trailer .top-bar .media-icon img {
    width: 25px !important;
    height: 25px !important;
  }
}
/*# sourceMappingURL=app.css.map */