* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: transform 450ms;
}

body {
  background: #141414;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.white-text {
  color: white;
}

.p-relative {
  position: relative;
  z-index: 100102;
}

.display-none {
  width: 0;
  height: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
